* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-96: 96px;
  --spacing-128: 128px;

  --font-size-medium: 1rem;
  --font-size-medium-short: 1.25rem;
  --font-size-medium-regular: 1.5rem;
  --font-size-large: 2rem;

  --color-green: hsl(160deg, 100%, 30%);
  --color-gold-lighter: hsl(45deg, 100%, 50%);
  --color-gold-dark: hsl(45deg, 100%, 40%) ;
  --color-black: hsl(0deg, 0%, 0%);
  --color-very-dark: hsl(0deg, 0%, 10%);
  --color-dark: hsl(0deg, 0%, 30%);
  --color-gray-medium: hsl(0deg, 0%, 40%) ;
  --color-gray-light: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

header {
  padding-top: var(--spacing-32);
  border-bottom: 7px solid var(--color-dark);
}

h1 {
  font-size: var(--font-size-large);
}

h2 {
  background-color: var(--color-gold-lighter);
  padding: var(--spacing-16);
  padding-left: var(--spacing-24);
  padding-right: var(--spacing-24);
  font-size: var(--font-size-medium-regular);
  max-width: 390px;
}

main {
  background-color: var(--color-gray-light);
  padding-top: var(--spacing-64);
  padding-bottom: var(--spacing-64);
}

p {
  padding-bottom: var(--spacing-8);
}

strong {
  color: var(--color-green);
}

.card {
  background-color: var(--color-white);
  padding: var(--spacing-16);
  padding-right: 20px;
  padding-bottom: 0px;
  margin: 0 auto;
  border-bottom: 7px solid var(--color-dark);
}

.indented-heading {
  margin-left: -24px;
  margin-top: -8px;
}

.intro-chunk {
  max-width: 360px;
  padding: var(--spacing-16);
  padding-bottom: var(--spacing-32);
}

.max-width-wrapper {
  max-width: 630px;
  margin: 0 auto;
}

.title {
  padding-bottom: var(--spacing-24);
}
